root = true

[*cs]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{js,ts,jsx,tsx,css,scss,html,xml,json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
