﻿root = true

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.cs]
indent_style = space
indent_size = 4

[*.java]
indent_style = space
indent_size = 4

[*.{js,ts,jsx,tsx,css,scss,html,xml,json,yml,yaml,sql}]
indent_style = space
indent_size = 2

[*.properties]
indent_style = space
indent_size = 2
